<px-spinner></px-spinner>

<px-card header-text="Card" icon="px-fea:analysis">
  <div class='actions'>
    <px-icon icon='px-nav:new-window'>
    </px-icon>
    <px-icon icon='px-utl:help'>
    </px-icon>
    <px-icon icon='px-utl:app-settings'>
    </px-icon>
  </div>
  <p>This is the main content area of a Predix card.
  </p>
</px-card>

<px-kpi spark-type="line" title="Orders" value="30M" uom="USD" status-icon="px-nav:up" status-color="green" status-label="12%"
  spark-data='[{"x":1397102460000,"y":0.56},{"x":1397139660000,"y":0.4},{"x":1397177400000,"y":0.43},{"x":1397228040000,"y":0.33},{"x":1397248260000,"y":0.47},{"x":1397291280000,"y":0.41},{"x":1397318100000,"y":0.26},{"x":1397342100000,"y":0.42},{"x":1397390820000,"y":0.27},{"x":1397408100000,"y":0.38},{"x":1397458800000,"y":0.36},{"x":1397522940000,"y":0.32}]'>
</px-kpi>
